body {
    font-family: Arial, sans-serif;
    background-image: url("../img/BG\ \(1\).png");
    background-size: cover;
    color: #333;
    height: 800px;
}

*{
    margin: 0;
}

.acessar{
    background-color: #EAEAEA;
    width: 45%;
}

.container {
    border-radius: 8px;
    text-align: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 78px;
        background-color: white;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            margin-top: 10px;
        }

        input {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #333;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
