@import "../../exports/footer.scss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #002776;

    .logo {
        display: flex;
        align-items: center;
        
        img {
            height: 40px;
            margin-right: 10px;
        }

        h1 {
            color: white;
            font-size: 24px;
        }
    }

    button {
        background-color: #ffa500;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.opcoes-viagem {
    text-align: center;
    margin: 20px 0;

    h2 {
        color: #002776;
    }

    .destinos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;

        .destino {
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
            p {
                margin: 10px;
                color: #333;
            }
        }
    }
}
