@import "../../exports/footer.scss";
@import "../../exports/header.scss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


    button {
        background-color: #ffa500;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }


.opcoes-viagem {
    text-align: center;
    margin: 20px 0;

    h2 {
        color: #002776;
    }

    .destinos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;

        .destino {
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
            p {
                margin: 10px;
                color: #333;
            }
        }
    }
}
