@import "../../../inicio/exports/header.scss";
@import "../../../inicio/exports/login.scss";
body{
    background-image: url("../img/BG.png");
    .acessar{
        width: 35%;
        height: 250px;
        padding: 25px;
        input{
            width: 95%;
            
        }

        p{
            margin-bottom: 20px;
        }
    }
}