body {
    font-family: Arial, sans-serif;
    background-image: url('background2.jpg');
    background-size: cover;
    color: #333;
}

.container {
    max-width: 400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    text-align: center;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            text-align: left;
            margin-top: 10px;
        }

        input {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #333;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
